//"out":"../../public/css/master.css"

body {
    font-family: 'Lora', serif;
    cursor: url('/public/img/CursorDefault.cur'), pointer;
}

.background {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.nexus-player {
    position: fixed;
    transform: translateY(-50%) scale(0.25);
    top: 80%;
    left: 71%;
    z-index: -1;
}

.lane-structs {
    position: absolute;
    text-align: center;
    width: 100%;
}

.lane-ally-structs {
    .lane-structs;
    bottom: -64px;
}

.lane-opponent-structs {
    .lane-structs;
    top: -64px;
}

.nexus-opponent {
    position: fixed;
    transform: translateY(-50%) scale(0.25);
    top: 11%;
    left: -17%;
    z-index: -1;
}

.player-health {
    position: fixed;
    top: 65%;
    left: 89.5%;
    color: white
}

.inhib-opponent.active {
    cursor: url('/public/img/CursorAttack.cur'), pointer;
}

md-champion {
    flex: 1;
    position: relative;

    .champion {
        position: absolute;
        height: 241px;
        width: 160px;
        left: 50%;
        transform: translateX(-50%) scale(0.7);
        transition: transform 200ms ease-out;

        .champ-name {
            position: absolute;
            z-index: 1;
            color: white;
            font-weight: 800;
            left: 10px;
            top: 7px;
        }

        .champ-card {
            position: relative;
            height: 100%;
            width: 100%;
            overflow: hidden;

            .champ-image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }

            .champ-border {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }

            .champ-name {
                position: absolute;
                top: 0;
                left: 0;
                padding: 5px 0px 0px 70px;
                width: 100%;
                height: 1.5em;
                font-size: 20px;
                color: white;
            }
        }

        .champ-mask {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.7);

            .champ-controls {
                display: flex;
                margin-top: 100px;
                margin-left: 20px;
                margin-right: 20px;

                .champ-control-btn {
                    flex: 1;
                }

                .champ-control-btn-down {
                    background-color: #bbb;
                }
            }
        }

        .champ-stats {
            font-size: 14px;
            position: absolute;
            width: 100%;
            bottom: 0;
            height: 80px;
            padding: 8px 14px;
            box-sizing: border-box;

            .health-stat {
                .health-bar {
                    margin-top: 1px;
                    margin-bottom: 2px;
                    height: 5px;
                    width: 100%;
                    background-color: #333;
                    margin-bottom: 4px;

                    .health-current {
                        height: 100%;
                        background-color: red;
                        transition: width 1s ease;
                    }
                }
            }

            .stat-ability {
                font-style: italic;

                .ability-tooltip {
                    visibility: hidden;
                    position: absolute;
                    background-color: #eee;
                    bottom: 0;
                    left: -170px;
                    width: 150px;
                    padding: 8px;
                    font-style: normal;
                    box-shadow: 0px 0px 20px 2px #222;

                    .ability-tooltip-arrow {
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-left: 10px solid #eee;
                        left: 165px;
                        bottom: 10px;
                    }
                }

                &:hover {
                    .ability-tooltip {
                        visibility: visible;
                    }
                }
            }

        }

        .champ-banner {
            position: absolute;
            top: 0px;
            text-align: right;
            width: 100%;

            .mastery-crest {
                width: 25%;
                position: relative;
                margin: 0 auto;
            }
        }
    }

    &:hover .champion { z-index: 4; }
    &:hover+& .champion:not(.selected) { z-index: 3; }
    &:hover+&+& .champion:not(.selected) { z-index: 2; }
    &:hover+&+&+& .champion:not(.selected) { z-index: 1; }
    &:hover+&+&+&+& .champion:not(.selected) { z-index: 0; }
}

.champion.active {
    cursor: url('/public/img/CursorAttack.cur'), pointer;
}

.champion.source {
    z-index: 5;
    transform: scale(1.0) translateX(-50%);
}

.champion.selected {
    z-index: 5;
    transform: scale(1.0) translateX(-50%);
}

.champion:not(.source):hover {
    transform: scale(1.0) translateX(-50%);
}

.champion-positioner {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: -1;

    .drawer {
        height: 260px;
        position: absolute;
        width: 100%;
        bottom: 0;
        box-sizing: border-box;
        padding: 10px 25% 0px 25%;
        background-color: gray;
        z-index: 1;
        transform: translateY(100%);
        transition: transform 1s ease;

        .drawer-toggle-btn {
            text-align: center;
            height: 30px;
            width: 80px;
            background-color: darkgray;
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);

            img {
                height: 30px;
                transform: rotate(180deg);
            }
        }

        &-opened {
            transform: translateY(0%);

            .drawer-toggle-btn img {
                transform: rotate(0deg);
            }
        }

        .hand-container {
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
        }
    }
}

.lane-container {
    z-index: -1;
    height: 100%;
    width: 100%;
    top: -20%;
    position: absolute;
    left: 0;
    padding: 0 20%;
    box-sizing: border-box;
    display: flex;

    .lane() {

        height: 72.5%;
        margin: 20% 0;
        flex: 1;
        position: relative;
    }

    .lane-top {
        .lane;
        background-color: red;

        &.active {
            cursor: url('/public/img/CursorMove.cur'), pointer;
        }
    }

    .lane-mid {
        .lane;
        background-color: blue;

        &.active {
            cursor: url('/public/img/CursorMove.cur'), pointer;
        }
    }

    .lane-bot {
        .lane;
        background-color: green;

        &.active {
            cursor: url('/public/img/CursorMove.cur'), pointer;
        }
    }

    .lane-ally {
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        display: flex;
    }

    .lane-enemy {
        position: absolute;
        width: 100%;
        height: 50%;
        top: 0;
        display: flex;
    }
}
