<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Mastery Duel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/public/css/master.css" type="text/css" />

        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/lib/socket.io-client/socket.io.js"></script>

        <!-- IE required polyfills, in this exact order -->
        <script src="/lib/es6-shim/es6-shim.min.js"></script>
        <script src="/lib/systemjs/dist/system-polyfills.js"></script>
        <script src="/lib/angular2/es6/dev/src/testing/shims_for_IE.js"></script>

        <script src="/lib/angular2/bundles/angular2-polyfills.js"></script>
        <script src="/lib/systemjs/dist/system.src.js"></script>
        <script src="/lib/rxjs/bundles/Rx.js"></script>
        <script src="/lib/angular2/bundles/angular2.dev.js"></script>
        <script>
            System.config({
                packages: {
                    app: {
                        format: 'register',
                        defaultExtension: 'js',
                        map: {
                            'jquery': '/lib/jquery/dist/jquery.min.js'
                        }
                    }
                }
            });
            System.import('app/main')
                .then(null, console.error.bind(console));
        </script>
    </head>
    <body>
        <md-app>
            <!--Page Loader-->
            <div class="PageLoaderContainer">
                <div class="PageLoader">
                    <div id="LoaderBar1"></div>
                    <div id="LoaderBar2"></div>
                    <div id="LoaderBar3"></div>
                </div>
            </div>
        </md-app>
    </body>
</html>
