<!--<img src="/public/img/bg.png" class="background" />-->
<div hidden>
	<h1>{{gameState.value}}</h1>
	<input type="text" placeholder="Event" [(ngModel)]="sockEvent"/>
	<input type="text" placeholder="Data" [(ngModel)]="sockData"/>
	<button (click)="sendMessage()">Send</button>
</div>
<div>
	<img src="/public/img/NexusRed.png" class="nexus-opponent" />
	<img src="/public/img/InhibRed.png" class="inhib-opponent-top inhib" [class.active]="enemyInhibs[0].isActive" (click)="onAttackTopInhib($event)" />
	<img src="/public/img/InhibRed.png" class="inhib-opponent-mid inhib" [class.active]="enemyInhibs[1].isActive" (click)="onAttackMidInhib($event)" />
	<img src="/public/img/InhibRed.png" class="inhib-opponent-bot inhib" [class.active]="enemyInhibs[2].isActive" (click)="onAttackBotInhib($event)" />
</div>
<div>
	<img src="/public/img/NexusBlue.png" class="nexus-player" />
	<img src="/public/img/InhibBlue.png" class="inhib-player-top" />
	<img src="/public/img/InhibBlue.png" class="inhib-player-mid" />
	<img src="/public/img/InhibBlue.png" class="inhib-player-bot" />
</div>
<div class="player-health">
	Nexus Health: {{playerNexusHealth.value}}
</div>

<!-- Pick summoner -->
<div *ngIf="gameState.value==2">
	<input type="text" placeholder="Summoner Name" [(ngModel)]="summonerName"/>
	<button (click)="sendGameSelect()">Load Deck</button>
</div>
<md-championpositioner></md-championpositioner>
