<img src="/public/img/bg-new.png" class="background" />
<div *ngIf="gameState.value===3" class="nexus-opponent">
	<div *ngIf="enemyNexusHealth.value >= 0" class="nexus-health-bar">
		<div class="enemy-current-health" [style.width]="((enemyNexusHealth.value * 100) / 5) + '%'"></div>
		<!-- # of segments should be equal to max health-->
		<div class="health-segment"></div>
		<div class="health-segment"></div>
		<div class="health-segment"></div>
		<div class="health-segment"></div>
		<div class="health-segment"></div>
	</div>
	<img src="{{getEnemyIconUrl()}}" class="nexus" />
	<div class="summonerName">{{getEnemySummonerName()}}</div>
	<div class="enemy-turn-indicator" [hidden]="isPlayerTurn.value !== -1">
		<div class="arrow-up"></div>
		<div class="turn-text">Opponent's turn</div>
		<div class="move-text">Moves left: {{moveCount.value}}</div>
	</div>
</div>
<div *ngIf="gameState.value===3" class="turn-clock">{{timeleft.value}}</div>
<div *ngIf="gameState.value===3" class="pass-button" (click)="onPassButtonClick($event)">Pass</div>
<div *ngIf="gameState.value===3" class="nexus-player">
	<div class="player-turn-indicator" [hidden]="isPlayerTurn.value !== 1">
		<div class="turn-text">Your turn</div>
		<div class="move-text">Moves left: {{moveCount.value}}</div>
		<div class="arrow-down"></div>
	</div>
	<div *ngIf="playerNexusHealth.value >= 0" class="nexus-health-bar">
		<div class="player-current-health" [style.width]="((playerNexusHealth.value * 100) / 5) + '%'"></div>
		<!-- # of segments should be equal to max health-->
		<div class="health-segment"></div>
		<div class="health-segment"></div>
		<div class="health-segment"></div>
		<div class="health-segment"></div>
		<div class="health-segment"></div>
	</div>
	<img src="{{getPlayerIconUrl()}}" class="nexus" />
	<div class="summonerName">{{getPlayerSummonerName()}}</div>
</div>

<md-championpositioner></md-championpositioner>

<!-- Overlays -->
<div class="game-waiting-overlay" [hidden]="gameState.value!==1">
	<div class="overlay-heading">
		Mastery Duel
	</div>
	<div class="overlay-subtext">
		Waiting for opponent...
	</div>
	<div class="share-label">
		or Share this link to play with a friend:
	</div>
	<input class="share-link" type="text" readonly value="{{gameLink}}" />
</div>

<div class="game-loading-overlay" [hidden]="gameState.value!==2">
	<div class="overlay-heading">
		Mastery Duel
	</div>
	<div class="overlay-subtext">
		Opponent found!
	</div>
	<div class="input-label">
		Type in a summoner name to use&mdash;doesn't have to be your own!
	</div>
	<input class="input-box" type="text" [(ngModel)]="summonerName" (keydown)="onSummonerSubmit($event)"/>
	<div class="msg" *ngIf="loadingMsg.value!==null">{{loadingMsg.value}}</div>
</div>

<div class="game-over-overlay" [hidden]="gameState.value!==4">
	<img *ngIf="isVictor.value" class="victory" src="/public/img/Victory.png" />
	<img *ngIf="!isVictor.value" class="defeat" src="/public/img/Defeat.png" />
	<a class="new-game" href="/game/new">New Game</a>
</div>
