<img src="/public/img/bg.png" class="background" />
<div hidden>
	<h1>{{gameState.value}}</h1>
	<input type="text" placeholder="Event" [(ngModel)]="sockEvent"/>
	<input type="text" placeholder="Data" [(ngModel)]="sockData"/>
	<button (click)="sendMessage()">Send</button>
</div>
<div class="nexus-opponent">
	<div *ngIf="enemyNexusHealth.value >= 0" class="nexus-health-bar">
		<div class="current-health" [style.width]="((enemyNexusHealth.value * 100) / 5) + '%'"></div>
		<!-- # of segments should be equal to max health-->
		<div class="health-segment"></div>
		<div class="health-segment"></div>
		<div class="health-segment"></div>
		<div class="health-segment"></div>
		<div class="health-segment"></div>
	</div>
	<img src="/public/img/NexusRed.png" class="nexus" />
</div>
<div class="nexus-player">
	<div *ngIf="playerNexusHealth.value >= 0" class="nexus-health-bar">
		<div class="current-health" [style.width]="((playerNexusHealth.value * 100) / 5) + '%'"></div>
		<!-- # of segments should be equal to max health-->
		<div class="health-segment"></div>
		<div class="health-segment"></div>
		<div class="health-segment"></div>
		<div class="health-segment"></div>
		<div class="health-segment"></div>
	</div>
	<img src="/public/img/NexusBlue.png" class="nexus" />
</div>

<!-- Pick summoner -->
<div *ngIf="gameState.value==2">
	<input type="text" placeholder="Summoner Name" [(ngModel)]="summonerName"/>
	<button (click)="sendGameSelect()">Load Deck</button>
</div>
<md-championpositioner></md-championpositioner>

<div class="message-logger">
	<div class="message-logger-content">
	</div>
	<input type="text" class="message-logger-input" placeholder="Type here to chat" (keydown)="onMessageLogger($event)"/>
</div>
